// Customizations Here (Optional)

// Set your brand colors
// @import "@/assets/variables.scss"; // via vue.config.js

// Update some of Bulma's component variables
// $body-background-color: aliceblue;
$primary: $nwkhorizon;
$info: $fhstpblue;
$link: $fhstpblue;

// box and panel should have no shadow
$box-shadow: none;
$panel-shadow: none;

// Bulma Import
// @import '~bulma';

// Import only what you need from Bulma
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/components/modal.sass";
@import "~bulma/sass/components/panel.sass";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/icon.sass";
@import "~bulma/sass/elements/notification.sass";
@import "~bulma/sass/elements/other.sass";
@import "~bulma/sass/elements/table.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/grid/columns.sass";
// @import "../node_modules/bulma/sass/components/navbar.sass";
// @import "../node_modules/bulma/sass/layout/hero.sass";
// @import "../node_modules/bulma/sass/layout/section.sass";

// override bulma's panel globally to add a simple border (instead of shadow)
.panel-block,
.panel-heading,
.panel-tabs {
  border-bottom: 1px solid #C6C6C6;
  border-left: 1px solid #C6C6C6;
  border-right: 1px solid #C6C6C6;
}

// equal height with or without large icon
.panel-heading {
  padding-top: 0.6em;
  padding-bottom: 0.2em;
  min-height: 2.5em;
}

.clickAble {
  cursor: pointer;
}

.textarea,
.input,
.select select,
.button {
  border-color: #aaa;
}
