// Set your brand colors
$nwkorange: hsl(32, 100%, 50%);
$fhstpblue: #005096;
$nwkhorizon: #238b45;

// Palette URL: http://paletton.com/#uid=30D0k0kw0w0ghLAnzAyxVmsHYdj */

$color-primary-0: #FF8900;	// Main Primary color */
$color-primary-1: #FFC37D;
$color-primary-2: #FFA843;
$color-primary-3: #B36000;
$color-primary-4: #6A3900;

$color-secondary-1-0: #1240AB;	// Main Secondary color (1) */
$color-secondary-1-1: #7592D6;
$color-secondary-1-2: #3F64B9;
$color-secondary-1-3: #0C2C78;
$color-secondary-1-4: #041947;

$color-secondary-2-0: #00A876;	// Main Secondary color (2) */
$color-secondary-2-1: #69D5B5;
$color-secondary-2-2: #30B78F;
$color-secondary-2-3: #007652;
$color-secondary-2-4: #004631;
