// Set your brand colors
$nwkorange: hsl(32, 100%, 50%);
$fhstpblue: #005096;
$nwkhorizon: #238b45;

// Palette URL: http://paletton.com/#uid=30D0k0kw0w0ghLAnzAyxVmsHYdj */

$color-primary-0: #ff8900; // Main Primary color */
$color-primary-1: #ffc37d;
$color-primary-2: #ffa843;
$color-primary-3: #b36000;
$color-primary-4: #6a3900;

$color-secondary-1-0: #1240ab; // Main Secondary color (1) */
$color-secondary-1-1: #7592d6;
$color-secondary-1-2: #3f64b9;
$color-secondary-1-3: #0c2c78;
$color-secondary-1-4: #041947;

$color-secondary-2-0: #00a876; // Main Secondary color (2) */
$color-secondary-2-1: #69d5b5;
$color-secondary-2-2: #30b78f;
$color-secondary-2-3: #007652;
$color-secondary-2-4: #004631;
